* {
	font-size: 100%;
	font-family: "Lexend Deca", sans-serif;
}

.appBar {
	float: right;
}

.appBarItem:hover {
	color: #16e16e;
}

.sumryLogo:hover {
	color: #fff;
}

.teamCard {
	margin: 0.5rem;
}

.aboutCard {
	margin-top: 7rem;
	margin-bottom: 2.5rem;
}

.yt-video {
	margin-left: 15rem;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.loginForm {
	padding: 2em;
	margin: 10rem;
	border-width: 2px;
}

.dashLayout {
	margin: 1.5em;
}

.topStats {
	margin-top: 2em;
	text-align: center;
}

.reportOverview {
	margin-top: 2.4em;
	margin-left: 1em;
	text-decoration: underline;
}

.avatar {
	margin-top: 5em;
	margin-right: 5em;
}

.devNames {
	margin-top: 5;
	padding: 7;
	cursor: "pointer";
}
