* {
  font-size: 100%;
  font-family: "Lexend Deca", sans-serif;
}

.appBarItem {
  align-content: flex-end;
}

.teamCard {
  margin: 0.5rem;
}

.aboutCard {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.yt-video {
  margin-left: 15rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.loginForm {
  margin-top: 9rem;
  padding: 2em;
}
