html {
  overflow-x: hidden;
}

* {
  font-size: 100%;
  font-family: "Lexend Deca", sans-serif;
}

.appBarItem:hover {
  color: #cdd5d1;
}

.teamCard {
  margin: 0.5rem;
}

.listCard {
  padding: 0.5em;
  margin: 0.5em;
  width: 98%;
  height: 60px;
  cursor: pointer;
}

.aboutCard {
  margin-top: 7rem;
  margin-bottom: 2.5rem;
}

.yt-video {
  margin-left: 15rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.loginForm {
  padding: 2em;
  margin: 10rem;
  border-width: 2px;
}

.dashLayout {
  margin: 1.5em;
}

.topStats {
  margin-top: 3em;
  text-align: center;
}

.reportOverview {
  margin-top: 2.4em;
  margin-left: 1em;
  text-decoration: underline;
  color: #0052cc;
}

#commit-sha {
  margin-left: -28px;
  margin-top: 5px;
}

.avatar {
  margin-top: 5em;
  margin-right: 5em;
  border: 2px solid #0052cc;
}

.pieChartCard {
  padding-top: 1em;
  padding-left: 7em;
}

#pie {
  margin-left: 60px;
  margin-top: -30px;
}

.devNames {
  margin-top: 5;
  padding: 7;
  cursor: pointer;
}

.cardHeader {
  background-color: #0052cc;
  color: #fff;
}

.tableHeader {
  font-weight: bold;
}

.projectStatPie {
  margin-top: -5rem;
  margin-left: 2rem;
}

#projectStatText {
  margin-top: -5rem;
  margin-left: 4rem;
}

.devListHeader {
  color: #fff;
  margin-left: -1em;
  margin-bottom: -1em;
}

.errorText {
  color: #9ab7d5;
  text-align: center;
  margin-top: 4em;
}

#statusCard {
  width: 15px;
  height: 200px;
  margin-top: -20px;
}

#statusCardDivision {
  width: 1px;
  height: 30px;
  background-color: #000000;
}

#status {
  color: #008000;
}

#titleCard {
  margin-left: 15px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#listCardSubCard {
  margin-top: 8px;
}

#id {
  margin-top: -20px;
  height: 100px;
}

#statusIcon {
  margin-left: 1em;
}
